:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

 
  color: rgba(255, 255, 255, 0.87);
  background-color: #D4D6C9;

 
}


.navbar-brand img {
  width: 50px;
  height: auto;
  transition: 0.3s ease-in-out;
}

/* Alignement général */
.navbar .container.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Sur petit écran */
@media (max-width: 768px) {
  .navbar .container.nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-brand {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .navbar-toggler {
    align-self: center;
  }

  .navbar-collapse {
    width: 100%;
    text-align: center;
  }

  .navbar-collapse .nav-link {
    padding: 10px 0;
  }

  .button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}

.login-page {
  background-color: #D4D6C9;

  min-height: 100vh;
  padding-top: 50px;
}

.mb-2 {
font-weight: bold;
  color: #000;

}

.mb-4 {
font-weight: 500;
  color: #000;
}

.form-title {
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

/* Formulaires */
.mb-3 {
  color: #fff;
}
.login-form, .signup-form {
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
  border: 4px solid #000000;
  box-sizing: border-box;
  color: #fff;
  box-shadow: -15px 5px 4px 0 rgba(0, 0, 0, 0.25);
;
}

.login-form .form-control, .signup-form .form-control {
  background-color: #fff;
  color: #000;
  border: black;
  box-shadow: none;
}

.login-form .form-control:focus, .signup-form .form-control:focus {
  box-shadow: 0 0 5px rgba(108, 46, 185, 0.5);
  border-color: #6c2eb9;
}

/* Boutons */
button {
  font-weight: bold;
  background-color: #000;
  border: none;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  background-color: #333;
}


/* Ligne de séparation verticale */
.separator .vertical-line {
  height: 400px;
  width: 2px;
  background-color: #000;
  margin: auto;
}

@media (max-width: 768px) {
  .separator .vertical-line {
    height: 2px;
    width: 80%; /* ou 100% selon ton besoin */
    margin: 20px auto;
  }
}


.contact-page {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #D4D6C9; 
  padding: 20px;
  width: auto;
}

.contact-page h1, .contact-page p {
  color: #000;
  font-weight: bold;
}

.contact-page p {
  font-weight: 600;

}

.contact-page .card {
  background-color: #000; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  box-shadow: -15px 5px 4px 0 rgba(0, 0, 0, 0.25);
  -hover: none;
}

.contact-page .btn-primary {
  background-color: #000;
  border: none;
  
}



.contact-page .bi-geo-alt {
  color: #fff; 
}

.bodyContainer {
background-color: #D4D6C9;
width: 100%;
}

/* Footer */

li {
  cursor: pointer;
}

li a {
  text-decoration: none; 
  color: inherit; 
  display: block; 
  padding: 5px; 
}

li a:hover {
  color: #fff; 
  opacity: 0.9;
}



/* CGUS */

.cgus-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

h1 {
  text-align: center;
  color: #2c3e50;
}

h2 {
  text-align: center;
  color: #34495e;
  margin-bottom: 20px;
}

h3 {
  color: #2980b9;
  margin-top: 20px;
}

p {
  color: #555;
  line-height: 1.6;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul li {
  color: #333;
  margin-bottom: 5px;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* FAQ */

.faq-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

h1 {
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.faq-question {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question:hover {
  color: #1c5d85;
}

.faq-answer {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.arrow {
  transition: transform 0.3s ease;
}

.up {
  transform: rotate(180deg);
}

.down {
  transform: rotate(0deg);
}

/* HomePage */

.homepage-card:hover { 
  background-color: #f9f9f9;
  transform: scale(1.1);
  transition: transform 0.1s;
}

.count-up-text{
  font-size: 2em;
  font-weight: bold;
  color: #000;
}
/* AproposPage */

.Apropos-card:hover { 
  background-color: #f9f9f9;
  transform: scale(1.1);
  transition: transform 0.1s;
}

/* PrestaCard */

.slider-container{
  background-color: #D4D6C9;
  display: flex;
  flex-direction: row; 
  gap: 20px;  
  justify-content: space-evenly; 
  padding: 20px; 
}
.cards-container {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;  
  gap: 20px;  
  justify-content: center; 
  padding: 20px; 
}

.presta-card {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  width: 300px;  
  height: auto;
  border-radius: 10px; 
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.presta-card:hover {
  transform: scale(1.05); 
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.card-img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
}

.card-body {
  padding: 15px;
  text-align: center;
 
}

.card-title {
  font-size: 20px;
  color: blue;
  font-weight: bold;
}

.card-text {
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
}

/* Pageprofil */

.page-profil {
  background-color: #D4D6C9;
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}

/* Formulairepage */

.container-form {
  background-color: #D4D6C9;
  margin-top: auto;
}